.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #666;
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

span {
  font-size: 0.8rem;
  color: #666;
}

form button {
  margin-top: 20px;
}

from span {
  margin-top: 20px;
}

form label {
  margin-top: 20px;
}
